<main>
    <div class="filter-bar">
        <select>
           <option>Dự án</option>
         </select>
        <select>
           <option>2021</option>
         </select>
    </div>
    <div class="project-overview">
        <h2 class="text-center bg-warning">TỔNG THỂ VỀ DỰ ÁN</h2>
        <div class="stats">
            <div>Chi phí dự án: <span class="price">$2,113,507.00</span></div>
            <div>Hiện tại đã chi: <span class="price">$7,777,00</span> </div>
            <div>Còn lại: <span class="price">$7,777,00</span> </div>
        </div>
    </div>
    <div class="team-overview">
        <h2 class="text-center bg-warning">THÀNH VIÊN CỦA NHÓM</h2>
        <table class="bg-white">
            <thead>
                <tr>
                    <th>Khu vực</th>
                    <th>Số lượng nhân viên</th>
                    <th>Nhân viên đang tạm nghỉ</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>East</td>
                    <td>20</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>West</td>
                    <td>15</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>South</td>
                    <td>17</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>North</td>
                    <td>15</td>
                    <td>6</td>
                </tr>
            </tbody>
        </table>
    </div>
</main>