<div class="detail">
    <div class="detail-header text-center bg-warning">THÀNH VIÊN CỦA TEAM</div>
    <div class="team-members">
        <div class="region">
            <h3>East</h3>
            <ul>
                <li class="available">#1 Long <span>Available</span></li>
                <li class="available">#2 Tú <span>Available</span></li>
                <li class="busy">#3 Bình <span>Busy</span></li>
                <li class="busy">#4 James <span>Busy</span></li>
            </ul>
        </div>
        <div class="region">
            <h3>West</h3>
            <ul></ul>
        </div>
        <div class="region">
            <h3>South</h3>
            <ul></ul>
        </div>
        <div class="region">
            <h3>North</h3>
            <ul></ul>
        </div>
    </div>
</div>