<aside>
    <div class="profile">
        <h4 class="bg-warning">Trưởng nhóm</h4>
        <img src="https://www.inlogo.vn/vnt_upload/File/Image/vsnMeOX.png" class="avatar" alt="Profile Image">
        <h3>{{ username }}</h3>
        <p>Tóm tắt về Team</p>
    </div>
    <div class="summary text-left bg-white custom-border">
        <div class="list-group-item">SỐ LƯỢNG THÀNH VIÊN:<span>67</span></div>
        <div class="list-group-item">TỔNG CHI PHÍ CỦA TẤT CẢ CÁC DỰ ÁN :<span>$ 240k</span></div>
        <div class="list-group-item">CÁC TASK ĐANG XỬ LÝ:<span>15</span></div>
        <div class="list-group-item">DỰ ÁN SẮP TRIỂN KHAI: <span>20%</span></div>
    </div>
    <div class="clients">
        <h3>KHÁCH HÀNG</h3>
        <ul class="text-left bg-white list-group custom-border">
            <li class="list-group-item">ABC Cake Ltd.</li>
            <li class="list-group-item">DEF Software Solutio</li>
            <li class="list-group-item">GHI Industries</li>
        </ul>
    </div>
</aside>